<div id="dpac">
  <div id="dpacimg">
    <img id="dpacimg" src="../../../../assets/img/dpac.jpg" class="img-fluid mx-auto d-block" alt="DPAC" />
  </div>

  <p class="pdpac-title">O que é o DPAC?</p>

  <ul class="list-unstyled">
    <li class="media">
      <div class="media-body">
        <p class="pdpac-left">Distúrbio do Processamento Auditivo Central.</p>
        <p class="pdpac-just">
          Também chamado de DPAC, é um distúrbio auditivo onde o paciente geralmente não apresenta deficiências
          auditivas em relação ao que é ouvido, porém possui uma dificuldade em processar o que é escutado e por
          consequência acaba não entendento o que foi ouvido. Este distúrbio é identificado através de exames clínicos
          específicos realizados em cabines de audiometria com profissionais qualificados. O tratamento também deve ser
          realizado por profissional qualificado da área da fonoaudiologia que através de exercícios auditivos treinam o
          sistema do processamento central do paciente até ser capaz de processar tudo o que lhe é falado. É comum que
          paciente acometidos de DPAC sejam erroneamente diagnosticado com outras síndromes ou distúrbios
          comportamentais.
        </p>
        <p class="pdpac-just">
          A seguir, os principais sintomas que podem ser percebidos na criança
          com DPAC:
        </p>
      </div>
    </li>

    <ul>
      <li class="dpac-li">Dificuldade de memorização em atividades diárias;</li>
      <li class="dpac-li">Dificuldades acadêmicas para ler e escrever;</li>
      <li class="dpac-li">Fadiga atencional em aulas ou palestras;</li>
      <li class="dpac-li">Troca de letras na fala ou escrita;</li>
      <li class="dpac-li">Demora em compreender o que foi dito;</li>
      <li class="dpac-li">
        Dificuldades em compreender informações em ambientes ruidosos;
      </li>
      <li class="dpac-li">Desatenção e distração;</li>
      <li class="dpac-li">Solicita repetição constante da informação;</li>
      <li class="dpac-li">Agitação;</li>
      <li class="dpac-li">
        Dificuldade para entender conceitos abstratos ou duplo sentido;
      </li>
      <li class="dpac-li">
        Dificuldade para executar tarefas que lhe foram solicitadas;
      </li>
    </ul>
    <br />
    <br />
    <li class="media">
      <div class="media-body">
        <p class="pdpac-title">
          <img id="imgdpac" src="../../../../assets/img/Ouvido_onda.jpeg" class="img-fluid mr-3 img-hide"
            alt="Escuta mas não entende" />
        </p>
        <p class="pdpac-left">
          Avaliação do processamento auditivo central (PAC)
        </p>
        <p class="pdpac-left">O que é o exame?</p>
        <p class="pdpac-just">
          O Processamento Auditivo Central (PAC) avalia uma série de operações mentais que o indivíduo realiza ao lidar
          com informações recebidas via o sentido da audição, ou seja, avalia como o cérebro processa (analisa e
          interpreta) às informações que o indivíduo escutou. Dessa forma, existe uma de habilidades que desenvolvemos
          ao longo do tempo como, por exemplo, localização sonora, discriminar e reconhecer sons memorizá-los em
          sequências, são algumas das habilidades que estão envolvidas nesse processo. Alterações de processamento
          auditivo central podem ocorrer mesmo em pessoas com audição normal.
        </p>
      </div>
    </li>

    <li class="media">
      <div class="media-body">
        <p class="pdpac-title">
          <img id="imgdpac" src="../../../../assets/img/people-316506_1280-1200x794.jpg" class="mr-3 img-hide"
            alt="Escuta mas não entende" />
        </p>
        <p class="pdpac-left">Como é realizado?</p>
        <p class="pdpac-just">
          É realizado em três sessões de avaliação do processamento auditivo. O exame é feito dentro de uma cabina
          acústica e o indivíduo realizará alguns testes, selecionados de acordo com a faixa etária e presença ou não de
          alterações auditivas. Esses testes têm por finalidade avaliar as habilidades auditivas para que possamos
          compreender melhor se algum desses processos está alterado. É importante que exista uma audiometria recente,
          dessa forma, é comum, quando o paciente não tem, seja realizada uma audiometria completa antes dos testes.
        </p>
      </div>
    </li>

    <li class="media">
      <div class="media-body">
        <p class="pdpac-title">
          <img id="imgdpac" src="../../../../assets/img/pac-1200x480.jpg" class="mr-3 img-hide"
            alt="Escuta mas não entende" />
        </p>
        <p class="pdpac-left">Indicação</p>
        <p class="pdpac-just">
          A alteração do processamento auditivo pode ocorrer mesmo em indivíduos que apresentem uma audição normal. É um
          exame indicado quando a pessoa apresenta queixas e/ou sinais que podem estar relacionas às alterações de PAC.
          Por exemplo, indivíduos desatentos, distraídos, com dificuldades escolares, alterações de fala, memória,
          dificuldades no processo de aquisição da leitura e escrita, em compreender piadas e ironias, ou organizar o
          discurso, pessoas em que ambientes ruidosos (ruas, escolas, reuniões, etc.) são lugares em que apresentam mais
          dificuldade em ouvir e prestar atenção ao que foi falado, conversas longas, ou com várias pessoas falando ao
          mesmo tempo, são mais difíceis para serem acompanhadas, solicita muita repetição do que foi dito.
        </p>
      </div>
    </li>
  </ul>
</div>
